# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.pytest_cache
*.pkl
.tox
.cache

# Virtual Environments
.venv
venv
debug/

# Build and Distribution
build/
dist/
**/build/
.cdk.staging
staticfiles/
mediafiles/

# Documentation
docs/build/

# IDE and Editor Files
.vscode/
*~
*.swp
.cursor/

# System Files
**/.DS_Store

# Node.js
**/node_modules/
package-lock.json

# Environment Variables and Secrets
**/*.env
*.csr
*.crt
*.key

# Database
*.dump

# Logs and Temporary Files
celerybeat-schedule*

# Backups
prod_backup_*

# Misc
notebooks/
repomix-output.*
